  <div class="field">
    Name<br>
    <%= text_field (:custom_attribute, :attr_name) %>
  </div>
  <div class="field">
    Type<br>
    <%= text_field (:custom_attribute, :attr_type) %>
  </div>
  <div class="field">
    Owner Type<br>
    <%= text_field (:custom_attribute, :owner_class) %>
  </div>
