<!DOCTYPE html>
<html>
<head>
  <title>CustomAttributes</title>
  <%= stylesheet_link_tag    "custom_attributes/application", media: "all" %>
  <%= javascript_include_tag "custom_attributes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
