<% cssClasses ||= {} %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= date_time_value.name %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <%= date_time_value.value %>
</div>