<div class="custom_dropdown_option">
  <div class="pull-right">
    <%= f.hidden_field(:_destroy) %>
    <%= link_to_function(content_tag('i','', class: "icon-remove-sign"), "remove_option_from_dropdown_field(this)") %>
  </div>
  <a href="#_" class="multihandle pull-left"><i class="icon-move"></i>&nbsp;</a>
  <%= f.label "Option" %>
  <%= f.text_field :label, class: "span4 input-height-ez"%>
</div>
<div class="clearfix"></div>
